SECRET_KEY=cambia-esta-clave
APP_DATA_DIR=./data
GOOGLE_DRIVE_SYNC_MODE=off
GOOGLE_DRIVE_FILE_NAME=historial_produccion_maestro.xlsx
# Solo si vas a activar Google Drive:
# GOOGLE_SERVICE_ACCOUNT_FILE=/var/data/google-service-account.json
# GOOGLE_DRIVE_FOLDER_ID=TU_FOLDER_ID
